// General styles

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 80px;
}

section h3.title {
  text-transform: uppercase;
  font: bold 32px;
  margin-bottom: 30px;
  text-align: center;
}

section p {
  max-width: 775px;
  line-height: 2;
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: center;
}

@media (max-width: 800px) {
  section {
    padding: 50px 20px;
  }
}

// Hero Styles

.hero {
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

// .hero .background-video {
//   width: 100%;
//   height: 100%;
//   background-size: cover;
// }

.hero-content-area {
  opacity: 0;
  margin-top: 100px;
  animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
  100% {
    opacity: 1;
    margin: 0;
  }
}

