.book-description {
  box-shadow: 0 0 7px rgba(0,0,0,0.2);
  text-align: justify;
  text-justify: none;
  border-radius: 2px;
  background-color: white;
  padding: 40px;
  color: $dark-purple;
}

.book-description h4 {
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-position: under;
}

.book-photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 2px;
}
