<!-- In this section I will write some information about myself
And the reason I made this projects -->

<div class="container">
  <h1>About me:</h1>
  <p><span class="100">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur magni eveniet molestias modi deserunt, labore laboriosam rerum at dicta pariatur esse necessitatibus corrupti similique quia sequi, eius, quisquam odio excepturi.</span></p>
</div>
