<section class="container hero">
  <div class="hero-content-area">
    <h3 class="title">Welcome!</h3>
    <div class="books">
      <div class="stack">
        <div class="book"></div>
        <div class="book"></div>  
        <div class="book"></div>
        <div class="book"></div>  
        <div class="book"></div>  
      </div>
      <div class="stack">
        <div class="book"></div>
        <div class="book"></div>  
        <div class="book"></div>
        <div class="book"></div>  
        <div class="book"></div>  
      </div>
    </div>
    <p>I'm Dana and this is a selection of my favourite books!</p>
    <p><%= link_to "Have a look", books_path, class: "btn btn-outline-primary", style: "text-decoration: none;" %></p>
  </div>
</section>
