<div class="banner">
  <div class="container">

   <!--  Welcome at the top of the page -->
    <div class="row">
      <div class="col-12 col-lg-12">
        <h2>WELCOME</h2>
        <p class="mt-3">I'm Dana and this is a selection of my favourite books!</p>
      </div>
    </div>

    <!-- Description with about info and picture -->
    <div class="row card-description">
      <div class="col-12 col-lg-8 description">
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum dolores ea sunt reiciendis commodi ducimus libero quo, possimus dolorum sed. Pariatur modi consectetur, deleniti fuga illum nemo. Praesentium, dolore in?</p>
        </div>
        <div class="button">
          <p><%= link_to 'Have a look!', books_path, class: "btn btn-outline-primary" %></p>
        </div>
        <div>
          <h4>Connect</h4>
        </div>
      </div>

      <div class="col-12 col-lg-4 photo">
        <%= image_tag 'dana.jpg' %>
      </div>
    </div>

   <!--  Currently reading section -->
    <div class="row">
      <div class="col-12 col-lg-12 mt-3 mb-3">
        <h2>Currently reading</h2>
      </div>
    </div>

    <!-- Description of book and book cover -->
    <div class="row card-description">
      <div class="col-12 col-lg-4 photo">
        <%= image_tag 'mexican_gothic.jpg' %>
      </div>

      <div class="col-12 col-lg-8 description">
        <div>
          <h4>Mexican Gothic</h4>
          <p><em>Silvia Moreno-Garcia</em></p>
          <p>After receiving a frantic letter from her newlywed cousin begging for someone to save her from a mysterious doom, Noemí Taboada heads to High Place, a distant house in the Mexican countryside. She’s not sure what she will find - her cousin’s husband, a handsome Englishman, is a stranger, and Noemí knows little about the region. Noemí is also an unlikely rescuer: She’s a glamorous debutante, and her chic gowns and perfect red lipstick are more suited for cocktail parties than amateur sleuthing. But she’s also tough and smart, with an indomitable will, and she is not afraid: not of her cousin’s new husband, who is both menacing and alluring; not of his father, the ancient patriarch who seems to be fascinated by Noemí; and not even of the house itself, which begins to invade Noemi’s dreams with visions of blood and doom.</p>
          <p> <%= link_to "NPR Review", "https://www.npr.org/2020/07/02/886008274/pitch-perfect-mexican-gothic-ratchets-up-the-dread", target: "_blank" %></p>
        </div>
      </div>
    </div>


  </div>
</div>
