.card-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.card-category {
  width: 180px;
  height: 250px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 10px;
}

.card-category img {
  height: 250px;
  width: 180px;
}
